doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='free catus Template')
    meta(name='keywords', content='free bootstrap, html5, css3, responsive')
    block title
    block css
  body
    block main 